<h1 class='title-gradation-updown'>Infos Ranking</h1>


<% @infos_ranking.each.with_index(1) do |(info_id, average_score), index|  %>


<% info = Info.find(info_id) %>

<div class="box28">
  <span class="box-title">
<%= index %>位
  </span>
    <h3>
    TITLE:
    <%= info.title  %>
    <br>
    SCORE:
    <%= average_score %>
    </h3>
</div>



<% end %>
