

<% @infos_ranking.each.with_index(1) do |(info_id, average_score), index|  %>


<% info = Info.find(info_id) %>

<div>

<p>
<%= index %>
位
</p>
<p>
TITLE:
<%= info.title  %>
</p>
<p>
SCORE:
<%= average_score %>
</p>
</div>



<% end %>
