.container-background-image {
  background-image: url(skyscene.JPG);
}

#text-center {
  text-align: center;
}

.amatic-sc {
  font-family: 'Londrina Shadow', cursive;
  font-size: 70px;
  padding: 50px;
}

.amatic-sc h2 {
  font-size: 50px; 
}