.title-gradation-updown {
  font-size: 50px;
  position: relative;
  padding: 0.3em 0.5em;
  background: -webkit-linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  color: #495193;
}

.textbox-border-accent {
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid #ccc;
}
.textbox-border-accent::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #3498db;
}