<h1 class='title-gradation-updown'>All Infos</h1>

<% @infos.each do |info| %>

<div class="box26">
    <span class="box-title">Info Title</span>
    <p>
<%= link_to info.title, info %>
    </p>
</div>

<% end %>