<% if infos.any? %>

  <ul class="media-list">
    
<% infos.each do |info| %>

      <li class="media">
        </div>
        <div class="media-body">
          <div>
<%= current_user.info.title %>
          </div>
        </div>
      </li>
    
<% end %>

  </ul>
  
<%= paginate infos %>

<% end %>